<h2>Введіть кількість товарів</h2>
<form asp-action="OrderQuantity" method="post">
    <div>
        <label>Скільки одиниць товару ви бажаєте замовити?</label>
        <input type="number" name="quantity" min="1" />
    </div>
    <button type="submit">Підтвердити</button>
</form>
